// Global //////////////////////////////////////////////////////////
// Variables -------------------------------------------------------
@navexpands: @tablet-width; // Width at which nav doesn’t need to collapse

// Root ------------------------------------------------------------

[role="banner"],
[role="main"],
[role="contentinfo"] {
  &:extend(.clearfix all);
}

// Primary Navigation Menu
.head {
  .clearfix();
  background: @highlightcolor;
  padding: @blh;
}

.head h1 {
  float: left;
  padding: 0;
  margin: 0;

  font-weight: 700;
  .font-set(64, 48);
}

.head nav {
  @nlh: (@blh * 1.25); // Nav line-height, how tall the links should be
  @navitems: 2; // Change this to the number of items in your <nav>

  float: right;

  ul {
    .delist();
    .clearfix();
    overflow: hidden;
    margin: 0 auto;

    li {
      display: block;
      float: left;

      a {
        background: none;
        display: block;
        line-height: @nlh;
        padding: 0;
        margin-left: @blh;

        font-weight: 300;
        line-height: 1;
      }

      &:first-child {
        margin-left: 0;
      }
    }

    &[aria-expanded="false"] {
      max-height: 0 !important;
    }

    @media (min-width: @navexpands) {
      &[aria-expanded] {
        max-height: none !important;
      }
    }
  }

  .menu_control {
    .font-size();
    line-height: @nlh;
    margin: 0;
    cursor: pointer;

    @media (min-width: @navexpands) {
      display: none;
    }
  }
}

footer {
  margin-top: (@blh * 2);

  > div {
    border-top: 6px solid;
    padding-top: (@blh * 1);
  }
}


ul.dash {
  li {
    indent: @blh;

    &:before {
      content: "- ";
    }
  }
}
